body{
  background-color: #8ee7db;
}
h1{
  text-align: center;
  margin-top: 160px;
  font-weight: 500;
  letter-spacing: 2px;
  font-weight: bold;
text-decoration: underline;

}
button{
  height: 40px;
  border: 4px solid rgb(218, 47, 76);
  border-radius: 120px;
  font-weight: bold;
  width: 120px;
  text-align: center;
  margin-left:600px;
  align-items: center;
  justify-content: center;

}
button:hover{
background-color: purple;
cursor: pointer;
}

