/* .myList{
    display: flex;
    width: 400px;
flex-wrap: wrap;
list-style: none;
padding: 0;
}
.myList >li{
    width: 200px;
    border: 2px solid black;
} */



/* ----------------------------------------------------*/
h1{
    color: red;
}